.root {
  width: var(--sidebar-width);
  box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.2);
  height: 100vh;
  padding: 20px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  ul li {
    display: flex;
    list-style: none;
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
